/*
The following Colors are used in this Stylesheet

#0000fe - light blue use for blue accents and hights
#21219b - darker blue used for solid color blocks and elements
#808080 - dark grey solid color blocks and elements
#c0c0c0 - light grey used for accents and highlights
#ffff01 - yellow used for hights for attention
#ffbb04 - orange used for to get attention
#000000 - Black accent and seperation
#ffffff - white for accents and whitespace
---------------------------------------------
Discovered Colors: These colors are in use somewhere else, decided to use them
on this site in color scheme. I also include where I got them
---------------------------------------------
#0090FF = GitHub Button comor on Angular UI Router page.


Text should be: #010080 or #ffffff when over a solid color
Headdings: #808080

Fonts are loaded via Typekit with the following in the head of the HTML File:
<script src="https://use.typekit.net/adw2iji.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

Social Media Colors:
Facebook: #2b5da0
Twitter: #5ea9dd
Linkedin: #0177b5
Youtube: #e22c28
Google Plus: #dc4b3e

*/
/* Imports */
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

.body {
  padding-top: 100px;
}
/* Socialbar: Bar across the top of page, contains socialmedia icons and info */
/* Properties for socialbar */
#headerbar {
  background-color: #ffffff;
  font-size: 10pt;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 0px;
  border: 0px;
  color: #ffffff;
}

/* Logo */
#logo {

}

/* Properties for icons in socialmediabar */
#socialmediabar {
  font-size: 10pt;
  color: #ffffff;
  position: -ms-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  /*background-color: #0090FF; /* see above color table */
  background-color: #21219b;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Hover Properties for socialmedia Icons */
#socialmediabar li a:hover {
    background-color: rgba(255,255,255,0.3);
}

/* Properties for Facebook Icon hover */
#facebook, #twitter, #linkedin, #youtube, #google-plus {
  color: #ffffff;
}

#facebook:hover {
  color: #2b5da0;
}
/* Properties for Twitter Icon hover */
#twitter:hover {
  color: #5ea9dd;
}
/* Properties for Linkedin Icon hover */
#linkedin:hover {
  color: #0177b5;
}
/* Properties for YouTube Icon hover */
#youtube:hover {
  color: #e22c28;
}
/* Properties for Google Plus Icon hover */
#google-plus:hover {
  color: #dc4b3e;
}

#searchbox {
  margin-top: 12px;
  margin-right: 10px;
}
#searchicon {
  font-size: 15pt;
}

/* Properties for Phone Number and Email Address in socialbar */
span.callnow {
  color: #c0c0c0;
}
#phoneNumber {
  font-size: 15pt;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 900;
  color: #ffbb04;
  padding-bottom: 5px;
}
#emailAddress {
  font-size: 15pt;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: lighter;
  color: #808080;
}
#emailAddress:hover {
  color: #0177b5;
}

/* Properties for navigation */
#navigation {
  width: auto;
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2);

}

#searchbox {
  width: 300px;
}



/* MarketPlace Properties [Jumbotron] */
#marketplace {
  margin-top: 100px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #ffffff;
  padding-top: 10px;
}
#campaign-wrapper {
  max-width: 50%;
  min-width: 25%;
  min-height: 300px;
  max-height: 300px;
}


#content {
  padding: 20px;
  border-right: 1px solid #c0c0c0;
  padding-bottom: 30px;
}

#content article {
  padding: 15px;
  padding-right: 20px;
}

#sidebar {
  padding: 10px;
  padding-left: 20px;
}

/* Properties for Logo, set to absolute position and make responsive. */
a.navbar-brand {
  position: absolute;
  top: 0px;
  left: 150px;
}

.dropdown-header {
  font-size: 12pt;
  color: #c0c0c0;
  text-decoration: none;
  font-weight: 200;
}

.article, p {
  font-size: 12pt;
}

#partnerships {
  height: 80px;
  background-color: #c0c0c0;
  border-bottom: 15px solid #808080;
}

#topfooter {
  height: 100px;
  background-color: #21219b;
}
#bottomfooter {
  background-color: #2e2ea9; /* Got Blue from squaring footer blue */
}

#copyright {
  font-size: 9pt;
  color: #c0c0c0;
  padding-top: 3px;
  padding: 4px;
}

/*#bosslady {
  position: absolute;
  top: 464px;
  left: 500px;
}*/
span.spacer {
  width: 10px;
}

#reqquote{
    background-color: #ffbb04;
    text-align: center;
    vertical-align: middle;
}
