<h1>Benefits of Disability Income Insurance</h1>
<article>
  <p>
    Disability Income Insurance is very beneficial if you're unable to work due to
    a debilitating illness or injury and can help you cover expenses such as:
  </p>
  <p>
    <ul>
      <li>Car Payment</li>
      <li>Mortgage Payment</li>
      <li>Tuition</li>
      <li>Food</li>
      <li>Clothing</li>
      <li>Utilities</li>
    </ul>
  </p>
  <p>
    By replacing a portion of your income, disability income insurance can help maintain
    your standard of living and provide financial security until you get back on
    your feet and return to work.
  </p>
  <br>
  <br>
  <p class="text-center">
    <a ui-sref="requestaquote" class="btn btn-primary btn-lg">Request a Quote</a>
  </p>
</article>
