<br />
<br />
<div class="list-group">
  <a ui-sref="home" class="list-group-item">Homeowners Insurance</a>
  <a ui-sref="condo" class="list-group-item">Condo</a>
  <a ui-sref="renters" class="list-group-item">Renters</a>
  <a ui-sref="vacantstructures" class="list-group-item">Vacant Structures</a>
</div>
