<!DOCTYPE html>
<html lang="en" ng-app="maaApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app-custom.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="headerbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" ng-controller="headerbarController" ng-cloak>
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-href="mailto:info@maa-insurance.com" id="emailAddress" ng-cloak><i id-"mail" class="info@maa-insurance.com" ng-cloak></i>  info@maa-insurance.com</a></li>
              <li><a ng-href="tel:1-877-491-5078" id="phoneNumber" ng-cloak><span class="callnow">CALL NOW:</span>  <i id-"mail" class="1-877-491-5078" ng-cloak></i> 1-877-491-5078</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="container">
                <nav id="navigation">
                        <a class="navbar-brand" ui-sref="index">
                            <img  width ="70%" id="logo" ng-src="img/maa-logo.png" alt="Welcome to Montgomery Agency & Associates" />
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a ui-sref="index">Home</a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About   <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a ui-sref="theagency">The Agency</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a ui-sref="missionstatement">Mission Statement</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a ui-sref="testimonials">Testimonials</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Products   <span class="caret"></a>
                              <ul class="dropdown-menu">
                                  <li><a ui-sref="auto">Auto</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a ui-sref="home">Home</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a ui-sref="business">Business</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a ui-sref="lifeinsurance">Life Insurance</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a ui-sref="health">Health</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a ui-sref="disability">Disability</a></li>
                              </ul>
                          </li>
                          <li><a ui-sref="services">Services</a></li>
                          <li><a ui-sref="contact">Contact</a></li>
                          <li><a ui-sref="customerservice">Customer Service</a></li>
                          <li><a ui-sref="requestaquote">Request a Quote</a></li>
                        </ul>

                  </div>
              </div>
        </div>
    </div>
    <div id="marketplace">
      <div class="container">
        <div id="campaign-wrapper">
          <h1 id="campaignheader"></h1>
          <p id="teasertext"></p>
          <a id="campaignbutton" class="btn btn-primary btn-lg" href="#">Read more...</a>
        </div>
      </div>
    </div>
    <div id="socialmediabar" class="container-fluid"  ng-controller="socialbarController">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="sm in socialmedia"><a ng-href="{{sm.address}}" target="_blank" title="{{sm.name}}"><i id="{{sm.id}}" class="{{sm.icon}}"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div  id="content" class="col-sm-12 col-md-8">
            <div ui-view="content"></div>
          </div>
          <div id="sidebar" class="col-sm-12 col-md-4">
            <div ui-view="search"></div>
            <div ui-view="sidebar"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="partnerships" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div ui-view="partnerships"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
    <div id="topfooter" class="container-fluid">
      <div class="container">
        <div class="row">
            <div ui-view="footer"></div>
        </div>
      </div>
    </div>
    <div id="bottomfooter" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div ui-view="copyright"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/multimedia.js"></script>
    <script src="js/app-custom.js"></script>
    </body>
</html>
