<br />
<br />
<div class="panel panel-default">
  <div class="panel-heading">Payments and Correspondence</div>
  <div class="panel-body">
    <p>
      <b>Mailing Address:</b><br>
      P.O. Box 481683<br>
      Charlotte, NC 28269<br>
    </p>
  </div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Additional Contact Information</div>
  <div class="panel-body">
    <b>Toll Free:</b> 1-877-491-5078<br>
    <b>Office Phone:</b> 980-255-5150<br>
    <b>Office Fax:</b> 980-272-5753<br>
    <b>Email:</b> <a href="mailto:info@maa-insurance.com">info@maa-insurance.com</a><br>
  </div>
</div>
