<h1>Whole Life Insurance</h1>
<article>
  <p>
    Whole Life Insurance is permanent life insurance that is designed to last for
    the insured’s lifetime. It offers a living benefit in addition to a death benefit,
    and has a savings component that can be used for wealth accumulation.
  </p>
  <p>
    There are other types of permanent life insurance policies that may be more
    suitable and affordable.
  </p>
  <p>
    Let us help you determine the best life insurance plan for your current needs and budget.
  </p>
  <br>
  <br>
  <p class="text-center">
    <a ui-sref="requestaquote" class="btn btn-primary btn-lg">Request a Quote</a>
  </p>
</article>
