<h1>Mission Statement</h1>
<article>
  <p>
    Our mission is to provide quality and affordable insurance products, while
    upholding an ethical standard of service that you can trust. 
  </p>
</article>
