<h1>Testimonials</h1>
<article>
  <blockquote>
    "This is a company that values its' clients and show their appreciation by
    continuing to do simple things, i.e., birthday card on your special day and
    newsletters to keep clients updated with interesting articles. I really enjoy
    the agency taking time out of their busy day to call me to see if they can
    assist me with any future needs..."<br>
    -- S. Lowery
  </blockquote>
  <blockquote>
  "I needed a policy for my business and I was able to get a quote in a VERY timely
  manner. Not only that, I wasn’t offered any additional service that didn't pertain
  to my business and I appreciate that. My experience thus far has been top notch
  and I DEFINITELY will recommend them to my future clients and colleagues."<br>
  -– M. Richardson
  </blockquote>
</article>
