<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div  id="main" class="col-sm-12 col-md-8">
        <h1>Auto</h1>
        <article>
          <p>
            Lorem ipsum dolor sit amet, donec ultrices, elit volutpat sed erat id convallis.
            Urna morbi, consequat sodales in aute elit porttitor conubia, nulla at in risus
            enim dolor fermentum, cras id, euismod rutrum nec. Tristique sit integer nulla
            sit litora. Nullam wisi interdum auctor nec viverra orci, porttitor suscipit
            est leo ac, nam hendrerit amet eros cursus. Justo urna eget et, quam sit facilisis,
            ante nisl ac proin amet nostra ut.
          </p>
        </article>
      </div>
      <div id="aside" class="col-sm-12 col-md-4">
        <div ui-view="autoaside"></div>
      </div>
    </div>
</div>
