<h1>Customer Service</h1>
<article>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>
        For your convenience, you may request a change to your policy by completing
        the form below or fax your request to <a href="tel:1-877-268-1236">1-877-268-1236</a>.
      </p>
      <p>
        <i class="">Please know that your privacy is our top priority as we safeguard and protect your personal information.</i>
      </p>
    </div>
    <div class="panel-body">
    <form action="/forms/maa_customerservice.php" method="post">
      <div class="form-group">
          <label for="cs_firstname">First Name</label>
          <input type="text" class="form-control" id="cs_firstname" name="cs_firstname" placeholder="First Name">
      </div>
      <div class="form-group">
          <label for="cs_lastname">Last Name</label>
          <input type="text" class="form-control" id="cs_lastname" name="cs_lastname" placeholder="Last Name">
      </div>
      <div class="form-group">
          <label for="cs_date_of_birth">Date of Birth</label>
          <input type="date" class="form-control" id="cs_date_of_birth" name="cs_date_of_birth" placeholder="Date of Birth">
      </div>
      <div class="form-group">
          <label for="cs_phonenumber">Phone Number</label>
          <input type="text" class="form-control" id="cs_phonenumber" name="cs_phonenumber" placeholder="Phone Number">
      </div>
      <div class="form-group">
          <label for="cs_email">Email Address</label>
          <input type="email" class="form-control" id="cs_email" name="cs_email" placeholder="Email">
      </div>
      <div class="form-group">
          <label for="cs_insurance_company">Current Insurance Company</label>
          <input type="text" class="form-control" id="cs_insurance_company" name="cs_insurance_company" placeholder="Current Insurance Company">
      </div>
      <div class="form-group">
          <label for="cs_policynumber">Policy Numberr</label>
          <input type="password" class="form-control" id="cs_policynumber" name="cs_policynumber" placeholder="Policy Number">
      </div>
      <div class="form-group">
          <label for="cs_notes">Notes</label>
          <textarea class="form-control" rows="3" id="cs_notes" name="cs_notes" placeholder="Add your notes here..."></textarea>
      </div>
      <hr>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg pull-right">Send</button>
      </div>
    </form>
    </div>
  </div>
  <h4 class="text-center">We greatly appreciate your Business!</h4>
</article>
